<template>
  <div class="container">
    <chessboard ref="board" :free="true" :fen="fen" @onMove="onMove"/>
    <div>{{ positionInfo }}</div>
    <div>
      <p>Welcome back, {{ user.data.name }}</p>
      <p>Game: {{ players.join(' vs. ') }}</p>
      <button @click="get('new/')">New Game</button>
      <router-link to="/login" tag="button">Logout</router-link>
    </div>
    <h2>Active Games</h2>
    <p v-for="game in games">
      <!-- Players: {{ game.players.join(' vs. ') }} -->
      <!-- Players: {{ game.players.join(' vs. ') }}, Moves: {{ game.move_history }} -->
      <button @click="get(game.href)" tag="button">Join</button>
    </p>
  </div>
</template>

<script>
import axios from "axios";
import { authHeader } from "../_helpers";
import { userService } from "../_services";
import { chessboard } from "vue-chessboard";
import "vue-chessboard/dist/vue-chessboard.css";

export default {
  name: "Board",
  data() {
    return {
      players: [],
      fen: "",
      user: {},
      games: [],
      positionInfo: ""
    };
  },
  created() {
    this.user = JSON.parse(localStorage.getItem("user"));
  },
  mounted() {
    console.log('mounted')
    this.get("board/");
    this.getGames();
  },
  methods: {
    get(path) {
      axios
        .get(path, authHeader())
        .then(res => {
          this.players = res.data.players;
          this.fen = res.data.fen;
          const metaBoard = this.$refs.board;
          const board = metaBoard.board;
          const game = metaBoard.game;

          console.log("board", board);
          console.log("game", game);

          console.log("board.state", board.state);
        })
        .catch(error => {
          console.error(error);
        });
    },
    getGames() {
      var path = "games/";
      axios
        .get(path, authHeader())
        .then(res => {
          this.games = res.data.games;
        })
        .catch(error => {
          console.error(error);
        });
    },
    onMove(data) {
      this.positionInfo = data;
      console.log('onmove', data)

      const metaBoard = this.$refs.board;
      const board = metaBoard.board;
      const lastMove = board.state.lastMove;

      // console.log(board.state.lastMove)
      
      // const lastMove = board.state.move[0] + board.state.move[1]
      // console.log('lastmove', lastMove)
      var path = "board/";

      if (!lastMove) {
        return
      }

      var textMove = lastMove[0] + lastMove[1]
      console.log(textMove)
      this.get(path + textMove + '/');
      return true;
    }
  }
};
</script>
